.background-image{
    background-image: url('./images/banner-image2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text-green{
    color: #52775c;
}
.text-lightGreen{
    color: #e8f5e0;
}
.bg-lightGreen{
    background-color: #e8f5e0;
}
.bg-green{
    background-color: #52775c !important;
}
.fs-12{
    font-size: 20px;
}
.button-green{
    background-color: #52775c !important;
    color: white !important;
    border-radius: 50px !important;
}
.button-green:hover{
    background-color:#618741 !important;
}
.border-green{
  border: 1px solid #52775c !important;
}
.border-top-green{
  border-top: 1px solid #618741;
}
.accordion-button, .accordion-button:not(.collapsed){
    background-color: #52775c !important;
    color: white !important;
    font-weight: 600;
}